* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-container {
    background-color: rgb(75, 68, 70);
    padding-top: 50px;
}

.container {
    max-width: 900px;
    margin: auto;
    display: flex;
}

.section-title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

#header {
    /* border: 2px solid red; */
}

#header .container {
    border: 3px solid white;
    align-items: center;
    background-color: #333e67;
    border-radius: 10px;
}

#header .container .content {
    flex-basis: 60%;
    text-align: center;
    line-height: 25px;
    color: white;
    padding: 0px 10px 0px 10px;
}

#header .container .content h4 {
    letter-spacing: 5px;
}

#header .container .content h1, 
#header .container .content h4, 
#header .container .content p {
    margin-bottom: 20px;
}

#header .container .image-div {
    flex-basis: 40%;
}

#header .container .image-div img {
    width: 100%;
}

.social-icons a {
    margin: 15px;
    font-size: 30px;
}

/* About Me Css */
#aboutme {
    margin-top: 50px;
}

#aboutme .container {
    align-items: center;
}

#aboutme .content h2{
    line-height: 40px;
}

#aboutme .container > div {
    /* border: 3px solid orange; */
    color: white;
    flex-basis: 50%;
}


#aboutme .img-div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}