* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main-container {
    background-color: rgb(75, 68, 70);
    padding-top: 50px;
}

.container {
    max-width: 900px;
    margin: auto;
    display: flex;
}

.section-title {
    text-align: center;
    color: white;
    margin-bottom: 30px;
}

#header {
    /* border: 2px solid red; */
}

#header .container {
    border: 3px solid white;
    align-items: center;
    background-color: #333e67;
    border-radius: 10px;
}

#header .container .content {
    flex-basis: 60%;
    text-align: center;
    line-height: 25px;
    color: white;
    padding: 0px 10px 0px 10px;
}

#header .container .content h4 {
    letter-spacing: 5px;
}

#header .container .content h1, 
#header .container .content h4, 
#header .container .content p {
    margin-bottom: 20px;
}

#header .container .image-div {
    flex-basis: 40%;
}

#header .container .image-div img {
    width: 100%;
}

.social-icons a {
    margin: 15px;
    font-size: 30px;
}

/* About Me Css */
#aboutme {
    margin-top: 60px;
}

#aboutme .container {
    align-items: center;
}

#aboutme .content h2{
    line-height: 50px;
}

#aboutme .container > div {
    /* border: 3px solid orange; */
    color: white;
    flex-basis: 50%;
}


#aboutme .img-div img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: block;
    margin: auto;
}

/* My Skills Css */
#myskills {
    margin-top: 50px;
}

#myskills .container {
    align-items: center;
}

#myskills .container > div {
    /* border: 3px solid red; */
    flex-basis:  50%;
}

#myskills .content .title-2,
#myskills .content .title-3  {
    margin-top: 30px;
}

#myskills .content .title-1,
#myskills .content .title-2,
#myskills .content .title-3 {
    color: white;
}



#myskills .content ul {
    list-style-type: none;
}

#myskills .content ul li {
    /* border: 2px solid green ; */
    display: inline-block;
    background-color: white;
    padding: 10px 13px;
    margin: 5px 5px 5px 0px;
    border-radius: 5px;
    font-weight: bold;
}

#myskills .img-div {
    /* padding: 50px 20px; */
}

#myskills .img-div  img {
    width: 350px;
    margin: auto;
    display: block;
    border-radius: 5px;
}

/* My Works Css */
#myworks {
    margin-top: 50px;
}

#myworks .container {
    justify-content: space-between;
    /* border: 2px solid green; */
}

#myworks .container .card {
    /* border: 2px solid black; */
    flex-basis: 30%;
    background-color: #333e67;
    color: white;
    padding: 10px 10px;
    border-radius: 5px;
    text-align: center;
}

#myworks .card h3 {
    margin: 20px 0px;
}

#myworks .card i {
    font-size: 30px;
}